Package: com.local.autorec
Name: AutoRec
Version: 1.2.0
Architecture: iphoneos-arm
Description: Touch recorder and replayer with AutoM8 settings.
Maintainer: AYeLee
Author: AYeLee
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0)
